
body, body.overlay {
    color: black;
}
.comment .comment-arrow {
    border-color: #ffffff;
}
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a {
    background: none repeat scroll 0 0 #ffffff;
}
.tabs ul.primary li a.active {
    background-color: #ffffff;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
#header {
    background-color: indigo;
    background-image: -moz-linear-gradient(center top , #2e0854 0%, #4b0082 100%);
}
a {
    color: #0071b3;
}
a:hover, a:focus {
    color: #018fe2;
}
a:active {
    color: #23aeff;
}
.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
}
#page-wrapper, #footer-wrapper {
    background: none repeat scroll 0 0 #292929;
}
.region-header, .region-header a, .region-header li a.active, #name-and-slogan, #name-and-slogan a, #secondary-menu-links li a {
    color: white;
}
