# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/modules/contrib/**

# Ignore paths that contain user-generated content.
sites/*/files

nbproject/*

sites/*/private
modules/**
sites/*/modules/contrib
sites/all/libraries

.htaccess
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
UPGRADE.txt
includes
misc
profiles
scripts
themes/bartik
themes/engines
themes/garland
themes/seven
themes/stark
web.config
