
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */

html, #page-wrapper, #page {
  height: 100%;
}

body {
  font-family: 'jaf-facitweb';
  background-color: #fffaff;
  color: #2b3;
  margin: 0 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'adelle';
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3.3em;
}

.field-name-field-dek {
  font-size: 1.8em;
  margin-top: 66px;
}


.field-name-field-call-to-action {
  text-align: center;
  margin: 66px auto 40px;
}

.field-name-field-call-to-action .field-item {
  display: inline-block;
  padding: 19px 82px;
  background-color: #2b3;
  border-radius: 25px;
  border: 3px solid white;
}

.field-name-field-call-to-action a,
.field-name-field-call-to-action a:active
.field-name-field-call-to-action a:focus,
.field-name-field-call-to-action a:hover,
.field-name-field-call-to-action a:visited {
  color: white;
  font-size: 1.8em;
}

li a, li a:active, li a:focus, li a:hover, li a:visited,
a, a:active, a:focus, a:hover, a:visited {
  color: #2b3;
  text-decoration: none;
}

a#logo {
  float: right;
  margin: 20px 0 0 0;
}

.node-unpublished {
  background-color: #f8a;
}


#main-wrapper {
  padding: 10% 15%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 0 -40px;
  height: 100%;
}

#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

#sidebar-first {
  width: 20%;
  left: -80%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -60%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}

.section {
  margin: 0px;
}


div.tabs {
  position: absolute;
  top: 0;
  right: 0;
}

ul.tabs.primary {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -54px;
}

ul.tabs.primary li a {
  border: none;
  margin: 0;
  padding: 0;
  background-color: initial;
}

ul.tabs.primary li {
  display: block;
}


div.codeblock {
  background-color: #6b6a69 !important;
}
